body{
    width:0;
    margin:0;
    padding:0;
    background-color:white;
}
#matrix{
    width:400px;
    height:200px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-200px;
    background-color:#ccc;
    overflow: hidden;
}
#left_round{
    width:100px;
    height:100px;
    position:absolute;
    top:-50px;
    left:-50px;
    background-color:#fc0;
    border-radius:50px;
}
#right_round{
    width:100px;
    height:100px;
    position:absolute;
    bottom:-50px;
    right:-50px;
    background-color:#fc0;
    border-radius:50px;
}
